<div class="row slice" sprint="{{sliceValue}}" dropable>
    <span fixed>
        <h2 class="slice-name" style="display: inline-block">
            {{sliceName}}
            <small class="story-points">({{sumStoryPoints()}} SP)</small>
        </h2>
        <br/>
    </span>
    <div ng-repeat="(project, stories) in storiesByProject" class="col-project ticket-group" ticket-group="{{project}}">
        <div class="centered project-title">{{project}}</div>
        <story ng-repeat="story in currentStories = (stories | filter:isMatchingSprint | orderBy:['seqNumber','id'] | emptyToEnd:'seqNumber')" 
               story="story" backlog-mode="true"
               ng-show="story.inScope || showOutOfScope"
               id="story-{{story.id}}"
               ticket-id="{{story.id}}"
               ticket-group="{{project}}">
        </story>
        <div class="information-text no-stories" ng-show="currentStories.length == 0">No stories</div>
    </div>
</div>