<div id="modal-filter-keywords" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Filter keywords by type</h4>
            </div>
            <div class="modal-body">
                <div keyword="{{type}}" ng-repeat="(type, value) in keywordTypes" ng-click="keywordTypes[type] = !keywordTypes[type]" style="cursor: pointer">
                    <input type="checkbox" ng-model="keywordTypes[type]" ng-click="$event.stopPropagation()"></input>
                    &nbsp;&nbsp;<span class="keyword">{{type}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="resetButton" type="button" class="btn btn-default pull-left" ng-click="resetKeywordsFilter()" data-dismiss="modal">Display all</button>
                <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>