<div id="modal-move-stories" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Move Stories to next Sprint</h4>
            </div>
            <div class="modal-body">
                <div class="move-stories" ng-show="moveStories.stories.length > 0">
                    Select sprint the stories should be moved to:
                    <select id="sprints" class="form-control" ng-model="moveStories.selectedSprint"
                            ng-options="sprint.name for sprint in moveStories.sprints" >
                    </select>
                    <p/>
                    Stories to be moved:
                    <ul>
                        <li ng-repeat="story in moveStories.stories">#{{story.id}} {{story.title}}</li>
                    </ul>
                </div>
                <div class="no-stories" ng-hide="moveStories.stories.length > 0">
                    No stories to move.
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeButton" type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button id="resetButton" type="button" class="btn btn-default pull-right" ng-click="moveStories()" data-dismiss="modal">Move stories</button>
            </div>
        </div>
    </div>
</div>