<div id="modal-filter-sprint" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Displayed sprints</h4>
            </div>
            <div class="modal-body">
                <div id="sprint-{{sprint.name}}" ng-repeat="sprint in sprints" ng-click="sprint.selected = !sprint.selected" style="cursor: pointer">
                    <input type="checkbox" ng-model="sprint.selected" ng-click="$event.stopPropagation()"></input>
                    &nbsp;&nbsp;<span>{{sprint.name}} ({{sprint.start | date:'EEE yyyy-MM-dd'}}-{{sprint.end | date:'EEE yyyy-MM-dd'}})</span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="resetButton" type="button" class="btn btn-default pull-left" ng-click="resetSprints()" data-dismiss="modal">Reset</button>
                <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>