<div class="story-card">
    <p>
        <b>{{story.title}}</b>
        <span style="float: right;"><b>{{story.milestone}}</b></span>
    </p>
    <div class="story-center">
        <p class="story-number centered">
            #{{story.id}}
            <a href="{{getViewTicketUrl(story.id)}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
            <a href="{{getEditTicketUrl(story.id)}}" target="_blank"><span class="glyphicon glyphicon-edit"></span></a>
        </p>
        <p class="story-title centered">{{story.description}}</p>

        <!-- TODO: Add story owner picture, see Trello item
        <p class="story-owner-image-holder centered">
            <img src="images/team_120px/{{story.owner || 'unknown'}}.jpg" class="story-owner-image"></img>
        </p>
        -->
    </div>
    <p>
        <b> {{story.storyPoints}} SP</b>
        <span style="float: right;">
            done: <b> {{story.timeDone}} h</b> -
            remaining: <b> {{story.timeRemaining}} h</b>
        </span>
    </p>
</div>