<div class="story-card" ng-click="openTicket(story, $event)" ng-class="{'story-with-postits': story.keywords.length>0, 'compact-mode': compactMode}" draggable id="{{story.id}}">
    <header ng-hide="compactMode || backlogMode" class="header">
        <span>{{story.project}}</span>
        <span class="pull-right">{{story.release}}</span>
    </header>
    <div class="story-center">
        <div class="story-owner-image" ng-show="story.owner" data-toggle="tooltip" data-placement="top" title="{{story.owner}}">
            <img src="{{getImagePath(story.owner)}}" ng-hide="!story.owner"/>
        </div>
        <div class="centered">
            <span class="story-number" ng-click="$event.stopPropagation()">
                #{{story.id}}
            </span>
            <links ticket="story" compact-mode="compactMode"></links>
            <span class="glyphicon glyphicon-ok link" ng-show="!compactMode && isStoryClosable(story) && experimental" ng-click="closeTicket(story)"></span>
            <br/>
            <span class="story-title">{{story.title}}</span>
            
        </div>
    </div>
    <footer ng-hide="compactMode">
        <span>
            {{story.storyPoints}} SP
        </span>
        <span ng-hide="backlogMode" class="pull-right">
            done {{story.timeDone()}}h
        </span>
    </footer>
    <div class="postits">
        <div class="postit" ng-repeat="postit in story.keywords | filter:isPostitDisplayed" scale-to-fit="{{postit.value}}" ng-hide="(compactMode || backlogMode) && !postit.color" style="background-color: {{postit.color}}"></div>
    </div>
</div>