<div ng-class="{'fade-out': doesNotMatchesSelectedOwner(story)}">
    <div class="block">
        <agilo-story story="story" compact-mode="{{compactMode}}"></agilo-story>
    </div>
    <div class="block" style="padding: 0px 10px 10px 10px">
        <agilo-task ng-repeat="task in story.tasks" task="task"></agilo-task>
        <div ng-show="story.tasks.length == 0 && !compactMode">There are currently no tasks.</div>
        <div ng-show="story.tasks.length > 0 && !compactMode">
            Total: {{story.timeDone}}h done / {{story.timeRemaining}}h remaining</div>
        <a ng-show="!compactMode" href="{{getNewTaskUrl(story)}}" target="_blank"><span class="glyphicon glyphicon-plus"></span> Add task</a>
    </div>
</div>