<a href="{{task.getViewTicketUrl()}}" target="_blank">
    <div class="task-card" ng-class="{'fade-out': fadedOut}">
        <div class="pull-left" style="height: 100%">
            <div class="owner-image" ng-show="task.owner && showOwnerImage" data-toggle="tooltip" data-placement="top" title="{{task.owner}}">
                <owner-image owner="{{task.owner}}"></owner-image>
            </div>
        </div>
        <div class="pull-right">
            <span class="glyphicon glyphicon-plus link add-time" ng-click="changeTime(task, +0.5, $event)" ng-hide="task.isOnGoing()"></span>
            <progress-bar ticket="task"></progress-bar>
        </div>
        <div>
            <div style="display: inline" class="task-title">
                {{task.title}}
            </div>
        </div>
        <links ticket="task"></links>
    </div>
</a>