$icon-font-path: './fonts/'; 
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

body {
  padding-top: 40px;
} 
a {
    cursor: pointer;
        
    &:hover {
        text-decoration: none
    }
}
.fade-out {
    opacity: 0.5;
}
.link-pointer {
    cursor: default;
}
.board {
    margin-top: 20px;
    
    &#backlogboard {
        position: absolute;
        min-width: 99%;
    }
}
.nav .dropdown-menu li input {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}
div.error {
    margin: 20px;
    padding: 10px;
    border: 1px solid #9f0404;
    background-color: #e5a7a7;
    border-radius: 5px;
}

.story-card {
	background-color: #FFFFE6;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:6px 8px 6px 8px;
    box-shadow: 0 0 0 1px #FFFFE6,
        0 0 0 3px #E8E8BF;
	margin-bottom: 15px;
    display: block;
    
    &:hover {
        background-color: #FFFFCC;
        box-shadow: 0 0 0 3px #e2e254;
    }
    
    .story-number {
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 0.8em;
        margin-bottom: 0.3em;
    }

    .story-title {
        font-size: 1.5em;
        margin-top: 0.3em;
        margin-bottom: 0.8em;
    }
    .story-owner-image {
        margin: 0.8em 0.8em 0.8em 0.8em;
        width: 80px;
        min-height: 80px;
        float: left;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        border: solid 1px grey;
        background-image: url("../images/team/unknown.jpg");
        background-size: contain;
    }

    .story-owner-image img, .story-owner-image object {
        width: 100%;
    }
    
    .glyphicon {
        font-size: 1.5em;
    }
    .backlog-btns .glyphicon {
        font-size: 1.8em;
    }
    &.compact-mode .centered {
        margin-bottom: 25px;
    }
    
    div.story-center:after{
        clear: both;
        content: "";
        display: block;
    }
    footer, div.footer, .story-card div.header {
        text-align: left;
    }   
}

.story-with-postits {
    margin-bottom: 35px;
    
    .postits {
        position: relative;
        left: 50px;
        top: -20px;
        
        
        .postit {
            border-radius: 2px;
            border: solid 1px grey;
            background-color: #ff60df;
            color: white;
            font: "Comic Sans MS";
            font-size: 1em;
            padding: 3px;
            width: 90px;
            height: 30px;
            vertical-align: middle;
            text-align: center;
            float: left;
            box-shadow: 5px 5px 2px #888888;
            margin-right: 10px;
            
            &.postit-twolines {
                height: 50px;
            }
        }
    }
    &.compact-mode {
        .postits {
            left: 110px;
        }
    }
}

.task-card {
	background-color: #E0E0F8;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 6px 4px 6px;
    box-shadow: 0 0 0 1px #E0E0F8,
        0 0 0 3px #A9A9F5;
	margin-bottom: 10px;
	font-size: 1.1em;
    
    &:hover {
        background-color: #d4d4ef;
        box-shadow: 0 0 0 3px #8a8aaf;
        cursor: pointer
    }
    
    .add-time {
        border: 3px solid #696969;
        color: #696969;
        border-radius: 4px;
        background-color: #b2b2bc;
        padding: 2px 6px 2px 6px;
        margin: -10px 0px 0px 0px;
        
        &.compactMode {
            padding: 3px 4px 3px 4px;
            margin: -4px 5px 0px 0px;
            border-width: 2px;
            font-size: 0.8em;
        }
        
        
        &:hover {
            color: #4e4e4e;
            border-color: #4e4e4e;
        }
    }
    
    .glyphicon {
        font-size: 1em;
    }
}

.progress {
    float: right;
    position: relative;
    text-align: center;
    background-color: #b4b4b4;
    width: 80px;
    height: 100%;
    margin-bottom: 0px;
	font-size: 0.9em;
    
    div {
        background-color: #7b7979;
        height: 100%;
    }
    span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
        color: #ffffff;
    }
    &.progress-striped div {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, 
            transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, 
            rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
    }
}

.centered {
	text-align: center;
	text-align: center;
}


.information-text {
	font-style: italic;
    color: grey;
	margin-top: 0.3em;
	margin-bottom: 0.8em;
}


.space-bottom {
	margin-bottom: 1em;
}

.block {
    width: 100%;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}
.block-fullsize {
    margin-bottom: 30px;
}

.link {
    cursor: pointer;
    color: #428bca;
}

.swimlane {
    .drag-area-entered {
        border-radius: 15px;
        background-color: #ebebeb;
    }
    .drag-area-left {
        background-color: #FFF;
        transition: background-color 1000ms linear;
        border-radius: 15px;
    }
}

.swimlane {
    @media (min-height: 500px) {
        & { min-height: 400px; }
    }
    @media (min-height: 800px) {
        & { min-height: 700px; }
    }
    @media (max-width: 1500px) and (min-width: 992px) {
        & { width: 33%; }
    }
}

@media (min-width: 1500px) {
    .block {
        width: 49%;
    }
}

@media (max-width: 1200px) {
    .hide-when-small {
        display: none;
    }
}

.row {
    margin: 0px;
}
.slice {
    margin: 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 15px;
    border: solid 1px #d6d6d6;
    display: inline-block;
    white-space: nowrap;
    min-width: 100%;
 
    h2 {
        padding-left: 15px;
    }
    
    .col-project {
        width: 20em;
        display: inline-block;
        margin: 5px;
        white-space: normal;
        vertical-align: top;
        text-align: center;
        
        .project-title {
            font-size: 1.4em;
            padding-bottom: 10px;
        }
    }
}
.navbar span.nav-item {
    padding: 0px 10px 0px 10px;
    color: #a5a5a5;
    border-right: solid 1px #a5a5a5;
}