body {
  padding-top: 40px;
}
a {
    cursor: pointer
}
a:hover {
    text-decoration: none
}

.fade-out {
    opacity: 0.5;
}
.link-pointer {
    cursor: default;
}
.board {
    margin-top: 20px;
}
div.error {
    margin: 20px;
    padding: 10px;
    border: 1px solid #9f0404;
    background-color: #e5a7a7;
    border-radius: 5px;
}
.project-col {
    margin: 4px;
    float: right;
    width: 270px;
    height: 100%;
}

.story-card {
	background-color: #FFFFE6;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:6px 8px 6px 8px;
    box-shadow: 0 0 0 1px #FFFFE6,
        0 0 0 3px #E8E8BF;
	margin-bottom: 15px;
    display: block;
}
.story-card div.story-center:after{
    clear: both;
    content: "";
    display: block;
}
.story-card div.footer, .story-card div.header {
    text-align: left;
}

.story-card:hover {
	background-color: #FFFFCC;
    box-shadow: 0 0 0 3px #b5b59f;
}

.task-card {
	background-color: #E0E0F8;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 6px 4px 6px;
    box-shadow: 0 0 0 1px #E0E0F8,
        0 0 0 3px #A9A9F5;
	margin-bottom: 10px;
}

.task-card:hover {
	background-color: #d4d4ef;
    box-shadow: 0 0 0 3px #8a8aaf;
    cursor: pointer
}

.centered {
	text-align: center;
	text-align: center;
}

.story-number {
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0.8em;
	margin-bottom: 0.3em;
}

.story-title {
	font-size: 1.5em;
	margin-top: 0.3em;
	margin-bottom: 0.8em;
}

.information-text {
	font-style: italic;
    color: grey;
	margin-top: 0.3em;
	margin-bottom: 0.8em;
}

.story-owner-image {
	margin: 0.8em 0.8em 0.8em 0.8em;
	width: 80px;
    min-height: 80px;
    float: left;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
	border-radius: 4px;
	border: solid 1px grey;
    background-image: url("../images/team/unknown.jpg");
    background-size: contain;
}

.story-owner-image img, .story-owner-image object {
    width: 100%;
}

.space-bottom {
	margin-bottom: 1em;
}

.block {
    width: 100%;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}
.block-fullsize {
    margin-bottom: 30px;
}

.link {
    cursor: pointer;
    color: #428bca;
}
@media (max-width: 1500px) and (min-width: 992px) {
    .swimlane {
        width: 33%;
    }
}
@media (max-width: 1500px) {
    .hide-when-small {
        display: none;
    }
}

@media (min-height: 500px) {
    .swimlane {
        min-height: 400px;
    }
}

@media (min-height: 800px) {
    .swimlane {
        min-height: 700px;
    }
}
.swimlane.drag-area-entered {
    border-radius: 15px;
    background-color: #ebebeb;
}
.swimlane.drag-area-left {
    background-color: #FFF;
    transition: background-color 1000ms linear;
    border-radius: 15px;
}

@media (min-width: 1500px) {
    .block {
        width: 49%;
    }
}

.story-with-postits {
    margin-bottom: 25px;
}
.story-card.compact-mode .centered {
    margin-bottom: 25px;
}
.postits {
    position: relative;
    left: 50px;
    top: -20px;
}
.compact-mode .postits {
    left: 110px;
}
.postit {
    border-radius: 2px;
    border: solid 1px grey;
    background-color: #ff60df;
    color: white;
    font: "Comic Sans MS";
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    width: 75px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    float: left;
    box-shadow: 5px 5px 2px #888888;
    margin-right: 10px;
}
.row {
    margin: 0px;
}
.slice {
    margin: 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 15px;
    border: solid 1px #d6d6d6;
}
.navbar span.nav-item {
    padding: 0px 10px 0px 10px;
    color: #a5a5a5;
    border-right: solid 1px #a5a5a5;
}
.slice h2 {
    padding-left: 15px;
}