<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/scrumboard">Scrumboard</a></li>
                <li class="active"><a href="#">Backlog</a></li>
            </ul>
            <div class="navbar-form navbar-left form-group" ng-model="sprints">
                <select id="releases" ng-model="releases.selectedReleases" ng-options="release.name for release in releases.allReleases">
                </select>
            </div>
        </div>
    </div>
</nav>
