<sprint-filter></sprint-filter>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/scrumboard">Scrumboard</a></li>
                <li class="active"><a href="#">Backlog</a></li>
            </ul>
            <div class="navbar-form navbar-left form-group">
                <select id="releases" class="form-control" ng-model="selectedRelease" ng-options="release.name for release in allReleases" >
                </select>
                <span id="releaseDescription" class="nav-item">
                    {{selectedRelease.description}}
                </span>
                <span class="hide-when-small nav-item">
                    From <span id="dueDate">{{selectedRelease.dueDate | date:'EEE yyyy-MM-dd'}}</span>
                    until <span id="completedDate">{{(selectedRelease.completedDate | date:'EEE yyyy-MM-dd') || 'undefined'}}</span>
                </span>
                <span class="nav-item">
                    <a id="filterButton" data-toggle="modal" data-target="#modal-filter-sprint">
                        <span class="glyphicon glyphicon-filter"></span>    
                    </a>
                </span>
                <span ng-click="showOutOfScope = !showOutOfScope" class="link-pointer nav-item">
                    <input id="showOutOfScope" type="checkbox" ng-model="showOutOfScope" ng-click="$event.stopPropagation()"></input> Show out-of-scope Stories
                </span>   
            </div>
        </div>
    </div>
</nav>

<div class="board" id="backlogboard">
    <div ng-repeat="sprint in sprints | filter:{milestone: selectedRelease.name}| orderBy:'start'" class="row slice" id="slice_{{sprint.name}}" sprint="{{sprint.name}}" dropable ng-show="sprint.selected">
        <span fixed>
            <h2 class="slice-name" style="display: inline-block">
                {{sprint.name}}
                <small class="story-points">({{sumStoryPoints(currentStories)}} SP)</small>
            </h2>            <br/>
        </span>
        <div ng-repeat="(project, stories) in projects" class="col-project">
            <div class="centered project-title">{{project}}</div>
            <story ng-repeat="story in currentStories = (stories | filter:{sprint: sprint.name} | orderBy:['seqNumber','id'] | emptyToEnd:'seqNumber')" story="story" backlog-mode="true" next-seq="{{$last?-1:currentStories[$index+1].seqNumber}}" prev-seq="{{$first?-1:currentStories[$index-1].seqNumber}}" ng-show="story.inScope || showOutOfScope">
            </story>
            <div class="information-text" ng-show="stories.length == 0">No stories</div>
        </div>
	</div>
    <br/>
    <div class="row slice" id="slice_remaining" dropable sprint="">
        <span fixed>
            <h2 class="slice-name" style="display: inline-block">Remaining
                <small class="story-points">({{sumStoryPoints(currentStories)}} SP)</small>
            </h2><br/>
        </span>
        <div ng-repeat="(project, stories) in projects" class="col-project">
            <div class="centered project-title">{{project}}</div>
            <story ng-repeat="story in currentStories = (stories | filter:isRemaining | orderBy:['seqNumber','id'] | emptyToEnd:'seqNumber')" story="story" backlog-mode="true" next-seq="{{$last?-1:currentStories[$index+1].seqNumber}}" prev-seq="{{$first?-1:currentStories[$index-1].seqNumber}}" ng-show="story.inScope || showOutOfScope">
            </story>
            <div class="information-text" ng-show="remainingStories[project].length == 0">No stories</div>
        </div>
	</div>
</div>