<sprint-filter></sprint-filter>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="#/scrumboard">Scrumboard</a></li>
                <li class="active"><a href="#">Backlog</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <select id="releases" class="form-control" ng-model="selectedRelease" ng-options="release.name for release in allReleases" >
                    </select>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="link">
                    <a class="glyphicon glyphicon-repeat" id="reloadButton" ng-click="reload()"></a>
                </li>
                <li class="link">
                    <a id="filterButton" data-toggle="modal" data-target="#modal-filter-sprint">
                        <span class="glyphicon glyphicon-filter"></span>    
                    </a>
                </li>
                <li id="showOutOfScope" ng-click="showOutOfScope = !showOutOfScope" class="navbar-text link-pointer">
                    <input type="checkbox" ng-model="showOutOfScope" ng-click="$event.stopPropagation()"></input> Show all Stories
                </li>  
            </ul>
            <ul class="nav navbar-nav navbar-right hide-when-small">
                <li id="releaseDescription" class="navbar-text">
                    {{selectedRelease.description}}
                </li>
                <li class="navbar-text">
                    Due: <span id="dueDate">{{selectedRelease.dueDate | date:'EEE yyyy-MM-dd'}}</span>
                    / Completed: <span id="completedDate">{{(selectedRelease.completedDate | date:'EEE yyyy-MM-dd') || 'undefined'}}</span>
                </li> 
            </div>
        </div>
    </div>
</nav>

<div class="board" id="backlogboard">
    <backlog-slice ng-repeat="sprint in sprints | filter:{milestone: selectedRelease.name}| orderBy:'start'" ng-show="sprint.selected"
                   sprint="sprint" 
                   stories-by-project="projects" show-out-of-scope="showOutOfScope">
    </backlog-slice>
    <br/>
    <backlog-slice slice-name="Remaining" sprint="{ name: 'Remaining', value: '', hideRemove: true }"
                   stories-by-project="projects" show-out-of-scope="showOutOfScope">
    </backlog-slice>
</div>