
<div id="modal-filter-keywords" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Filter keywords by type</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="(type, value) in keywordTypes" ng-click="keyword.selected = !keyword.selected" ng-click="$event.stopPropagation()">
                    <input type="checkbox" ng-model="keywordTypes[type]" ng-click="$event.stopPropagation()"></input>
                    &nbsp;&nbsp;{{type}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Scrumboard</a></li>
                <li><a href="#/backlog">Backlog</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <select id="sprints" class="form-control" ng-model="sprints.selectedSprint"
                            ng-options="sprint.name for sprint in sprints.allSprints" >
                    </select>
                    <span class="nav-item">
                        <a class="glyphicon glyphicon-repeat" id="reloadButton" ng-click="reload()"></a>
                    </span>
                    <span class="nav-item">
                        <a href="{{getDashboardUrl()}}" target="_blank"><span class="glyphicon glyphicon-stats"></span></a>
                    </span>
                    <span class="nav-item">
                        <a data-toggle="modal" data-target="#modal-filter-keywords">
                            <span class="glyphicon glyphicon-filter"></span>    
                        </a>
                    </span>
                    <span class="hide-when-small nav-item">
                        Done (with admin): {{allTimeDone}} h
                    </span>
                    <span class="hide-when-small nav-item">
                        Remaining: {{allTimeRemaining}} h
                    </span>
                    <span ng-click="compactMode = !compactMode" class="link-pointer nav-item">
                        <input id="compactMode" type="checkbox" ng-model="compactMode" ng-click="$event.stopPropagation()"></input> Compact Mode
                    </span>                    
                    <span ng-click="ownerMode = !ownerMode" class="link-pointer nav-item">
                        <input id="ownerMode" type="checkbox" ng-model="ownerMode" ng-click="$event.stopPropagation()"></input>
                        Filter by owner
                        <select id="owners" class="form-control" ng-model="selectedOwner" ng-options="owner for owner in owners | orderBy:'toString()'" ng-hide="!ownerMode" ng-click="$event.stopPropagation()">
                        </select>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid board">
    <div class="row" ng-model="stories">
        <div class="col-md-5 swimlane" id="todo" agilo-dropable agilo-on-drag-over="onDragOver(['reopened', 'new'], event, id)">
            <h2>To Do</h2>
			<span id="col-todo">
				<agilo-story-with-tasks ng-repeat="story in todoStories = (stories | filter:{progress: 'new'} | orderBy:orderBySelectedOwner) | filter:isNotFilteredByKeyword" id="story-{{story.id}}">
				</agilo-story-with-tasks>
                <div class="information-text" ng-show="todoStories.length == 0">No stories</div>
			</span>
        </div>
        <div class="col-md-5 swimlane" id="inprogress" agilo-dropable agilo-on-drag-over="onDragOver(['assigned'], event, id)">
            <h2>In Progress</h2>
			<span id="col-inprogress">
                <agilo-story-with-tasks ng-repeat="story in inprogressStories = (stories | filter:{progress: 'in progress'} | orderBy:orderBySelectedOwner) | filter:isNotFilteredByKeyword" id="story-{{story.id}}">
                </agilo-story-with-tasks>
                <div class="information-text" ng-show="inprogressStories.length == 0">No stories</div>
            </span>
        </div>
        <div class="col-md-2 swimlane" id="done" agilo-dropable agilo-on-drag-over="onDragOver(['closed'], event, id)">
            <h2>Done</h2>
			<span id="col-done">
                <div class="block-fullsize" ng-repeat="story in doneStories = (stories | filter:{progress:'done'} | orderBy:orderBySelectedOwner) | filter:isNotFilteredByKeyword" ng-class="{'fade-out': doesNotMatchesSelectedOwner(story)}" id="story-{{story.id}}">
                    <agilo-story story="story" compact-mode="compactMode">
                    </agilo-story>
                </div>
                <div class="information-text" ng-show="doneStories.length == 0">No stories</div>
            </span>
        </div>
    </div>
</div>
