
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class="navbar-brand">eOrders Scrum Board</span>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left">
				<div class="form-group" ng-model="sprints">
					<select id="sprints" class="form-control" ng-model="sprints.selectedSprint" ng-options="sprint for sprint in sprints.allSprints">
					</select>
					&nbsp;&nbsp;
					done (with admin): {{total.done}} h
					&nbsp;&nbsp;
					remaining: {{total.none}} h
					&nbsp;&nbsp;
					<a href="https://ci2.samw24.bluewin.ch/agilo/eorders/dashboard" target="_blank"><span class="glyphicon glyphicon-stats"></span></a>
				</div>
			</form>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<p></p>

	<div class="row" id="board" ng-model="stories">
		<div class="col-md-5">
			<h2>To Do</h2>
			<span id="col-todo">
				<div ng-repeat="story in stories | filter:{state:'new'}" class="story-card">
					<p>
					 	<b>{{story.title}}</b>
					 	<span style="float: right;"><b>{{story.milestone}}</b></span>
					</p>
					<div class="story-center">
						<p class="story-number centered"> 
							#{{story.id}} 
							<a href="{{getViewTicketUrl(story.id)}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> 
							<a href="{{getEditTicketUrl(story.id)}}" target="_blank"><span class="glyphicon glyphicon-edit"></span></a>
						</p>
						<p class="story-title centered">{{story.description}}</p>
						<p class="story-owner-image-holder centered">
							<img src="images/team_120px/{{story.owner || 'unknown'}}.jpg" class="story-owner-image"></img>
						</p>
					</div>
					<p>
						<b> {{story.storyPoints}} SP</b> 
						<span style="float: right;">
							done: <b> {{story.timeDone}} h</b> - 
							remaining: <b> {{story.timeRemaining}} h</b>
						</span>
					</p>
				</div>
			</span>
		</div>
		<div class="col-md-5">
			<h2>In Progress</h2>
			<span id="col-inprogress"></span>
		</div>
		<div class="col-md-2">
			<h2>Done</h2>
			<span id="col-done"></span>
		</div>
	</div>
</div>
