<keywords-filter></keywords-filter>
<move-stories-modal></move-stories-modal>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Scrumboard</a></li>
                <li><a href="#/backlog">Backlog</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <select id="sprints" class="form-control" ng-model="sprints.selectedSprint"
                            ng-options="sprint.name for sprint in sprints.allSprints" >
                    </select>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="link">
                    <a class="glyphicon glyphicon-repeat" id="reloadButton" ng-click="reload()"></a>
                </li>
                <li class="link">
                    <a href="{{getDashboardUrl()}}" target="_blank">
                        <span class="glyphicon glyphicon-stats"></span>
                    </a>
                </li>
                <li class="link" data-toggle="tooltip" data-placement="left" title="Filter by keywords">
                    <a id="filterButton" data-toggle="modal" data-target="#modal-filter-keywords">
                        <span class="glyphicon glyphicon-filter"></span>    
                    </a>
                </li>
                <li class="link" data-toggle="tooltip" data-placement="left" title="Move stories to next sprint">
                    <a id="moveStoriesButton" data-toggle="modal" data-target="#modal-move-stories" >
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                </li>
                <li ng-click="hideUnknownKeywords = !hideUnknownKeywords" class="link-pointer navbar-text">
                    <input id="hideUnknownKeywords" type="checkbox" ng-model="hideUnknownKeywords" ng-click="$event.stopPropagation()"></input> Hide unknown keywords
                </li>                    
                <li class="link-pointer navbar-text">
                    <input id="ownerMode" type="checkbox" ng-model="ownerMode" ng-click="$event.stopPropagation()"></input>
                    <span ng-click="ownerMode = !ownerMode">Filter by owner</span>
                    &nbsp;
                    <span class="dropdown" id="owners" ng-show="ownerMode">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="margin: -15px 0px">
                          {{selectedOwner || 'Select owner'}}
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" ng-repeat="owner in owners | orderBy: 'toString()'">
                            <a href role="menuitem" ng-click="$parent.selectedOwner = owner" id="owner-{{owner}}">
                                <owner-image owner="{{owner}}"></owner-image>
                                {{owner}}
                            </a>
                        </li>
                      </ul>
                    </span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hide-when-small">
                <li class="navbar-text">
                    Done (with admin): {{allTimeDone}} h
                </li>
                <li class="navbar-text">
                    Remaining: {{allTimeRemaining}} h
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid board">
    <div id="messageContainer"></div>
    
    <div class="row" ng-model="stories">
        <div class="col-md-5 swimlane" id="todo">
            <h2>To Do</h2>
			<span id="col-todo">
				<story-with-tasks ng-repeat="story in todoStories = (stories | filter:{isToDo: true} | orderBy:orderBySelectedOwner) | filter:isNotFilteredByKeyword">
				</story-with-tasks>
                <div class="information-text" ng-show="todoStories.length == 0">No stories</div>
			</span>
        </div>
        <div class="col-md-5 swimlane" id="inprogress">
            <h2>In Progress</h2>
			<span id="col-inprogress">
                <story-with-tasks ng-repeat="story in inprogressStories = (stories | filter:{isInProgress: true} | orderBy:orderBySelectedOwner) | filter:isNotFilteredByKeyword">
                </story-with-tasks>
                <div class="information-text" ng-show="inprogressStories.length == 0">No stories</div>
            </span>
        </div>
        <div class="col-md-2 swimlane" id="done">
            <h2>Done</h2>
			<span id="col-done">
                <div class="block-fullsize" ng-repeat="story in doneStories = (stories | filter:{isClosed: true} | orderBy:orderBySelectedOwner) | filter:isNotFilteredByKeyword" id="whole-story-{{story.id}}">
                    <story story="story" hide-unknown-keywords="hideUnknownKeywords" faded-out="fadedOutStory(story)">
                    </story>
                </div>
                <div class="information-text" ng-show="doneStories.length == 0">No stories</div>
            </span>
        </div>
    </div>
</div>
